/* ===================================================================
  #GLOBAL
=================================================================== */
#toplevel_page_mobileview-admin-admin-init .wp-menu-image img {
  position: relative;
  top: -2px;
}
#adminmenu #toplevel_page_mobileview-admin-admin-init.current img {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

#colabsplugin ol, #colabsplugin ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#colabsplugin :focus {
  outline: 0;
}

#colabsplugin ins {
  text-decoration: none;
}

#colabsplugin del {
  text-decoration: line-through;
}

#colabsplugin table {
  border-collapse: collapse;
  border-spacing: 0;
}

#colabsplugin .jetpack-message {
  display: none;
}

#colabsplugin a {
  text-decoration: none;
}

#colabsplugin sup {
  vertical-align: super;
  font-size: 30%;
  color: #777;
  position: relative;
  bottom: 5px;
  margin-right: -3px;
}

#colabsplugin .copytext {
  margin: 0;
  padding: 0;
}

#colabsplugin .clearer {
  clear: both;
}

#colabsplugin .spacer {
  height: 20px;
  display: block;
}

#colabsplugin legend, #colabsplugin h4 {
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
}

#colabsplugin h4 {
  margin-bottom: 19px;
  margin-top: 4px;
}

#colabsplugin h5 {
  font: bold 15px Georgia, "Times New Roman", Times, serif;
  color: #5f7176;
  text-shadow: #fff 0 1px 0;
}

#colabsplugin h6 {
  color: #666;
  text-shadow: #fff 0 1px 0;
  font: bold 11px Georgia, "Times New Roman", Times, serif;
  margin-bottom: 10px;
}

.status-unl {
  color: #9cb2c1;
}

#colabsplugin #dev-notice {
  background-color: #fee4c9;
  color: #d74b2a;
  font-weight: bold;
  padding: 9px;
  border: 1px solid #fecb75;
  text-shadow: #ffebde 0 1px 0;
  border-top-style: none;
  text-align: center;
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.branch-3-3 #colabsplugin #dev-notice {
  margin-top: -4px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: auto;
  display: block;
  width: auto;
}

p.inline-button {
  display: inline;
  margin-right: 10px;
}

/* Custom Font
------------------------------------------------------------------- */
@font-face {
  font-family: 'bebas_neueregular';
  src: url('../../includes/font/BebasNeue-webfont.eot');
  src: url('../../includes/font/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../includes/font/BebasNeue-webfont.woff') format('woff'),
       url('../../includes/font/BebasNeue-webfont.ttf') format('truetype'),
       url('../../includes/font/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* ===================================================================
  #HEADER AREA
=================================================================== */
#mobileview-main-top h3 {
  padding-left: 50px;
  padding-bottom: 15px;
  margin-bottom: 8px;
  margin-top: 8px;
}

#mobileview-main-top h3 span {
  font-size: 14px;
  color: #70848a;
  position: relative;
}

#colabsplugin ul#mobileview-top-menu {
  position: relative;
  margin-left: 6px;
  z-index: 1;
  margin-bottom: 15px;
}

#colabsplugin ul#mobileview-top-menu li {
  display: inline;
}


/* ===================================================================
  #MAIN CONTENT
=================================================================== */

/* Tabbed Area
------------------------------------------------------------------- */
#colabsplugin #mobileview-tabbed-area .right-area {
  padding-top: 4px;
  background-color: #fff;
  margin-left: 19%;
  border: 1px solid #d2e5ee;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 350px;
}

#colabsplugin .mobileview-setting {
  padding-bottom: 6px;
}

#colabsplugin .mobileview-setting.type-spacer {
  padding: 0px;
}

#colabsplugin fieldset {
  border: 1px solid #d2e5ee;
  background: #f7fcfe;
  padding: 10px;
}

#colabsplugin #mobileview-tabbed-area .left-area {
  float: left;
  padding: 0;
  margin: 1px 0 0;
  width: 19%;
}

#colabsplugin .left-area ul li a.active{
  color: #d54e21;
  position: relative;
  z-index: 2;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin: -1px -1px -1px -3px;
  padding: 12px 10px;
}

#colabsplugin #blog-news-box li a, #colabsplugin #support-threads-box li a {
  white-space: nowrap;
  text-overflow: ellipsIs;
  -o-text-overflow: ellipsis;
  width: 99%;
  overflow: hidden;
  display: block;
}

#colabsplugin .ajax-loader {
  position: absolute;
  right: 2px;
  background-color: #fff;
  border: 1px solid #d2e5ee;
  padding: 2px;
  top: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
}

/* Widget
------------------------------------------------------------------- */
#colabsplugin .box-holder table {
  width: 100%;
  margin-bottom: 10px;
  text-shadow: #fff 0 1px 0px;
}

#colabsplugin .box-holder table a {
}

#colabsplugin .box-holder tr {
}

#colabsplugin .box-holder #board-warnings {
  background-color: #feebc9;
  font-weight: bold;
}

#colabsplugin .box-holder td.box-table-text {
  height: 22px;
}

#colabsplugin .box-holder td.box-table-number {
  font: 18px Georgia, "Times New Roman", Times, serif;
  color: #555;
  text-align: right;
  padding-top: 1%;
  padding-bottom: 1%;
}

#colabsplugin .box-holder td.box-table-text {
  text-transform: capitalize;
  font-size: 12px;
  color: #555;
  padding-left: 5%;
  width: 86%;
}

#colabsplugin #right-now-box li {
  padding-top: 3px;
  padding-bottom: 3px;
}

#colabsplugin #right-now-box li span {
  font-weight: bold;
}

/* Tools
------------------------------------------------------------------- */
#colabsplugin #system-info table {
  width: 100%;
  margin-bottom: 15px;
}

#colabsplugin #system-info td.desc {
  width: 25%;
  color: #5f7176;
  font-weight: bold;
}

#colabsplugin #system-info td {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 11px;
  line-height: 13px;
}

#colabsplugin #system-info tr {
  border-bottom: 1px solid #dbdbdb;
}

/* Plugin Compatibility
------------------------------------------------------------------- */
#colabsplugin .type-plugin-compat .info-button i{
  color: #31708F;
}
#colabsplugin .type-plugin-compat .icon{
	vertical-align: middle;
	font-size: 16px;
	margin-right: 5px;
}
#colabsplugin .type-plugin-compat .dismiss-button i{
	color: #FF0000;
}
#colabsplugin p.no-warnings:before{
	content: "\e60a";
	font-family: 'mobileview-icons';
	margin-right: 5px;
  vertical-align: middle;
}
#colabsplugin p.no-warnings {
  font-weight: bold;
  color: darkgreen;
}

#colabsplugin a.regenerate-plugin-list {
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e6e6e6));
  background: -moz-linear-gradient(top, #fff, #e6e6e6);
  margin-top: 10px;
  border: 1px solid #b1b1b1;
  padding: 6px 15px;
  text-align: center;
  font-weight: bold;
  text-shadow: #FFF 0 1px 0;
  width: auto;
  float: left;
  margin-bottom: 10px;
}

#colabsplugin a.regenerate-plugin-list:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#fff));
  background: -moz-linear-gradient(top, #e6e6e6, #fff);
}

#colabsplugin .compat-box {
  height: 200px;
  overflow: auto;
  width: auto;
}

#colabsplugin .type-plugin-compat table {
  width: 100%;
  border: 1px solid #e6e6e6;
  background-color: #fff;
}

#colabsplugin .type-plugin-compat table th {
  text-align: left;
  padding-bottom: 10px;
  color: #666;
  padding-left: 5px;
  padding-top: 10px;
  font-style: italic;
  font-size: 14px;
  font-weight: bold;
}

#colabsplugin .type-plugin-compat table td {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 16px;
  color: #555;
  font-size: 12px;
}

#colabsplugin .type-plugin-compat table td.warning-item-desc {
  width: 55%;
  padding-right: 5%;
}

#colabsplugin .type-plugin-compat table tr {
  border-bottom: 1px solid #dbdbdb;
}

#colabsplugin .type-plugin-compat table td.plugin-name {
  width: 33%;
  font-weight: bold;
  padding-left: 5px;
  font-size: 12px;
  text-transform: uppercase;
}

#colabsplugin .type-plugin-compat table tr:nth-child(odd) {
  background-color: #fafef3;
}

/* Theme Browser
------------------------------------------------------------------- */
#colabsplugin #setting_installed-themes fieldset {
  width: 100%;
  margin-right: 0;
  background-color: #FFF;
  border-style: none;
  padding: 0;
}

#colabsplugin .section-installed-themes legend {
  display: none;
}

#colabsplugin .mobileview-theme-author {
  margin-top: -5px;
  font-size: 11px;
}

#colabsplugin .theme-wrap {
  border: 1px solid #DDDDDD;
  background-color: #EEEEEE;
  margin-bottom: 15px;
  padding:10px
}

#colabsplugin .theme-wrap.active {
  background-color: #D9EDF7;
  border: 1px solid #BCE8F1;
}

#colabsplugin .theme-wrap:last-child {
  margin-bottom: -17px;
}

#colabsplugin .mobileview-theme-left-wrap {
  background-color: #FFFFFF;
  border: 1px solid #DEDEDE;
  display: block;
  float: left;
  margin-right: 30px;
  text-align: center;
}

#colabsplugin .mobileview-theme-right-wrap {
  overflow:hidden;
}
.mobileview-theme-left-wrap img {
  display: block;
}
#colabsplugin p.mobileview-theme-features, #colabsplugin p.mobileview-theme-description {
  color: #444;
  font-size: 12px;
  line-height: 1.7;
  margin: 0;
  padding: 0;
}

#colabsplugin .mobileview-theme-right-wrap h4 {
  margin-bottom: 10px;
  font: normal normal 21px HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#colabsplugin .mobileview-theme-right-wrap h4 span {
  font-size: 13px;
  color: #999;
  margin-left: 3px;
  font-style: normal;
  font-weight: normal;
}

#colabsplugin ul.option-list {
  margin-top:10px;
}

#colabsplugin ul.option-list li {
  display: inline;
  margin-right: 10px;
}

#colabsplugin p.location {
  font-family: monospace;
  color: #99a2ab;
}

/* No Themes
------------------------------------------------------------------- */
#colabsplugin #no-custom-themes {
  text-align: center;
  background: url(../images/no_custom_themes.png) no-repeat center 15%;
  padding-top: 15%;
  min-height: 160px;
}

#colabsplugin #no-custom-themes p {
  color: #999;
  font-size: 11px;
  margin: 0;
  text-shadow: #fff 0 1px 0;
}

#colabsplugin #no-custom-themes p:first-child {
  font: italic bold 14px Georgia, "Times New Roman", Times, serif;
  padding-bottom: 5px;
}

/* Style/Appearance
------------------------------------------------------------------- */
#colabsplugin a#color-picker {
  padding: 5px 8px 6px;
  font-weight: bold;
  text-shadow: #fff 0 1px 0;
  position: relative;
  top: 5px;
}

#colabsplugin input#post_thumbnails_new_image_size.text {
  width: 5%;
}

/* User Agent Table
------------------------------------------------------------------- */
#colabsplugin #setting_smartphone-devices fieldset, #colabsplugin #setting_tablet-devices fieldset {
  background-color: #fff;
}

#colabsplugin #setting-user-agents table {
  width: 100%;
}

#colabsplugin #setting-user-agents table a {
  text-decoration: underline;
}

#colabsplugin #setting-user-agents th {
  text-align: left;
  padding-bottom: 10px;
  color: #666;
  padding-left: 5px;
  padding-top: 10px;
  font-style: italic;
  font-size: 14px;
  font-weight: bold;
}

#colabsplugin #setting-user-agents td {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 16px;
  color: #555;
  font-size: 11px;
}

#colabsplugin #setting-user-agents tr {
  border-bottom: 1px solid #d2e5ee;
  background-color: #fafef3;
}

#colabsplugin #setting-user-agents table tr:nth-child(odd) {
  background-color: #fff;
}

#colabsplugin #setting-user-agents table td.device-class-name {
  width: 35%;
  font-weight: bold;
  padding-left: 5px;
  font-size: 12px;
}


/* ===================================================================
  #LEFT SIDE AREA
=================================================================== */
#colabsplugin #setting_icon-pool fieldset {
  background-color: #FFF;
  border-style: none;
}

#colabsplugin .pool-wrapper {
  position: relative;
  width: 50%;
  float: left;
  margin-top: -20px;
}

#colabsplugin #mobileview-icon-packs {
  border: 1px solid #e5e5e5;
  margin: 20px 0 0;
  padding: 0;
}

#colabsplugin #mobileview-icon-packs.fixed {
  position: fixed;
  top: 0;
  width: 35.25%;
}

h4#menu-h4 {
  position: relative;
  top: -38px;
  left: 2%;
  display: inline-block;
  margin-bottom: 15px;
}

#colabsplugin .menu-meta {
  background-color: #fdfae8;
  padding: 5px 5px 5px 10px;
  font-size: 11px;
  text-align: left;
  margin: 1px 0;
  border-top: 1px solid #e5e5e5;
}

#colabsplugin #mobileview-icon-area .title {
  display: inline-block;
  margin-top: 2.5%;
  margin-left: 2%;
  font-size: 11px;
  text-shadow: #fff 0 1px 1px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 5px;
  text-overflow: ellipsis;
  width: 70%;
}

#colabsplugin #mobileview-icon-menu li.has_children a.expand {
  background: url(../images/page-arrows.png) no-repeat 0 4px;
  padding-left: 14px;
}

#colabsplugin #mobileview-icon-menu li.has_children.open a.expand {
  background: url(../images/page-arrows.png) no-repeat 0 -9px;
}

#colabsplugin #mobileview-icon-area .open {
  background-color: #eaf4f6;
  -webkit-box-shadow: inset rgba(0,0,0, .1) 0px 2px 6px;
  box-shadow: inset rgba(0,0,0, .1) 0px 2px 6px;
}

#colabsplugin #mobileview-icon-menu {
  margin-top: -37px;
  width: 48%;
  float: right;
  background-color: #fff;
  border: 1px solid #e5e5e5;
}

#colabsplugin #mobileview-icon-menu ul li {
  border-top: 1px solid #e5e5e5;
  padding: 6px 5px 6px 8px;
}

#colabsplugin #mobileview-icon-menu li.has_children li {
  border-top-style: none;
  padding-left: 15px;
  padding-right: 0;
}

#colabsplugin div.icon-drop-target {
  width: 32px;
  height: 32px;
  -ms-interpolation-mode: bicubic;
  float: left;
  margin-right: 5px;
}

#colabsplugin ul.icon-menu li .icon-drop-target.dark {
  background-color: #8697ab;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #6c7a8c;
  width: 30px;
  height: 30px;
  padding-top: 1px;
}

#colabsplugin div.icon-drop-target img {
  width: 32px;
  height: 32px;
  -ms-interpolation-mode: bicubic;
}

#colabsplugin div.active-drop {
  background: url(../images/placeholder-active.jpg) no-repeat 1px 1px;
}

#colabsplugin div.active-drop > img {
  display: none;
  border-style: none;
  height: 32px;
  -ms-interpolation-mode: bicubic;
}

#colabsplugin .icon-menu .menu-enable {
  float: right;
  font-size: 11px;
  color: #aaa;
  padding-top: 3%;
}

#colabsplugin img.ui-draggable {
  position: relative;
  z-index: 1;
}

#colabsplugin #setting_upload-icons fieldset {
  background-color: #FFF;
  border-style: none;
}

#colabsplugin #manage-sets h5 {
  font: bold 12px "Lucida Grande", "Lucida sans Unicode", Arial, sans-serif;
  color: #333;
}


/* ===================================================================
  #FOOTER AREA
=================================================================== */

ul#colabsplugin-help-menu {
  position: absolute;
  right: 0;
  margin-top: 12px;
  margin-right: 1.5%;
  font-size: 12px;
}

ul#colabsplugin-help-menu li {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
}

p#colabsplugin-trademark {
  color: #bbc4c5;
  margin: 0 0 30px;
  text-align: right;
  font-size: 12px;
}

p#colabsplugin-trademark em {
  color: #99a2ab;
}

#colabsplugin .client-mode a#tab-section-tools-and-debug {
  visibility: hidden;
  height: 0;
  margin-top: -21px;
}

/* News and Support Threads
------------------------------------------------------------------- */
#colabsplugin #blog-news-box ul li, #colabsplugin #support-threads-box ul li {
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 130%;
}

#colabsplugin #blog-news-box ul li, #colabsplugin #support-threads-box ul li a {
  margin-right: 2px;
}

#support-threads-box-ajax li a {
  display: block;
}

#colabsplugin #blog-news-box ul li, #colabsplugin #support-threads-box em {
  color: #666;
}

/* Quickpress
------------------------------------------------------------------- */
#colabsplugin #support-form-box .text {
  width: 50%;
  margin-left: 10px;
  margin-right: 0;
  margin-bottom: 10px;
}

#colabsplugin #support-form-box .textarea {
  margin-left: 10px;
  width: 94.5%;
  margin-bottom: 10px;
  height: 95px;
}

#colabsplugin #support-form-box a.button {
  padding: 3px 8px;
  border: 1px solid #b1b1b1;
  margin-left: 10px;
}

/* ===================================================================
  #COMPONENTS
=================================================================== */

/* Save Buttons
------------------------------------------------------------------- */
#colabsplugin-form .saved:before{
	content: "\e60a";
	font-family: 'mobileview-icons';
	margin-right: 5px;
  vertical-align: middle;
}
#colabsplugin-form .saved {
  float: right;
  font-weight: bold;
  color: darkgreen;
}
#colabsplugin-form .reset:before{
	content: "\e606";
	font-family: 'mobileview-icons';
	margin-right: 5px;
  vertical-align: middle;
}
#colabsplugin-form .reset {
  float: right;
  font-weight: bold;
  color: #FF0000;
}

#colabsplugin-form #saving-ajax {
  position: relative;
  font-size: 11px;
  font-weight: bold;
  color: #777;
  margin-left: 10px;
  display: none;
}

#colabsplugin-form #saving-ajax img {
  position: relative;
  top: 4px;
}

.mobileview-button-wrap .submit {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #CCC;
  border-right: none;
  background: #EEE;
  padding: 3px;
}
#colabsplugin-submit.submit {
	margin-bottom: 5px;
}
#upgrade-link {
  background-color: #f0f2f2;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.35, rgb(222,222,222)),
    color-stop(0.65, rgb(242,242,242))
	);
  background: -moz-linear-gradient(
    center bottom,
    rgb(222,222,222) 35%,
    rgb(242,242,242) 65%
	);
  padding: 1px 9px 2px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  border: 1px solid #bbc4c5;
  -webkit-box-shadow: inset #FFF 0px 1px 0px;
  position: relative;
  bottom: 3px;
  margin-left: 5px;
  color: #d54e21;
  font-size: 12px;
  font-weight: bold;
}
#upgrade-link:hover {
  border-style: solid;
  border-color: #707070;
}
#upgrade-link:active {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.35, rgb(222,222,222)),
    color-stop(0.65, rgb(242,242,242))
	);
  background: -moz-linear-gradient(
    center top,
    rgb(222,222,222) 35%,
    rgb(242,242,242) 65%
	);
  color: #5f7176;
}

/* Tooltips
------------------------------------------------------------------- */
#colabsplugin-form a.mobileview-tooltip, #colabsplugin-form a.mobileview-tooltip-left {
  background: none repeat scroll 0 0 #DDDDDD;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
  border-radius: 100%;
  color: #BBBBBB;
  font-size: 10px;
  padding: 1px 1px 1px 3px;
  position: relative;
  top: -4px;
  z-index: 4;
}
#colabsplugin-form a.mobileview-tooltip:before, #colabsplugin-form a.mobileview-tooltip-left:before, #colabsplugin-form #mobileview-tooltip:before{
	content: "\e60b";
	font-family: 'mobileview-icons';
}

#colabsplugin-form #mobileview-tooltip {
  display: none;
  width: 20%;
  height: auto;
  border: 4px solid #1d507d;
  font-size: 11px;
  text-shadow: #fff 0 1px 0;
  -webkit-box-shadow: #555 0px 1px 6px;
  -moz-box-shadow: #555 0px 1px 6px;
  box-shadow: #555 0px 1px 6px;
  padding: 8px;
	background: #fff;
  z-index: 99;
}



#colabsplugin-form #mobileview-tooltip-left {
  display: none;
  width: 20%;
  height: auto;
  border: 4px solid #1d507d;
  font-size: 11px;
  text-shadow: #fff 0 1px 0;
  -webkit-box-shadow: #555 0px 1px 6px;
  -moz-box-shadow: #555 0px 1px 6px;
  box-shadow: #555 0px 1px 6px;
  padding: 8px;
  background-color: #f2f4f4;
  z-index: 99;
}

#colabsplugin-form .mobileview-setting {
  position: relative;
}

/* Form Styles
------------------------------------------------------------------- */
#colabsplugin input.checkbox {
  margin-bottom: 0;
    margin-right: 4px;
    margin-top: 0;
    vertical-align: middle;
}
#colabsplugin label.checkbox {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

#colabsplugin input.text, #colabsplugin #mobileview-set-input-area input {
  border: 1px solid #d3d3d3;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#fff));
  background: -moz-linear-gradient(top, #f9f9f9, #fff);
  width: 30%;
  margin-right: 5px;
}

#colabsplugin input.text-array {
  border: 1px solid #d3d3d3;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#fff));
  background: -moz-linear-gradient(top, #f9f9f9, #fff);
  margin-right: 5px;
  width: 350px;
}

#colabsplugin textarea.textarea {
  border: 1px solid #d3d3d3;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#fff));
  background: -moz-linear-gradient(top, #f9f9f9, #fff);
  margin-top: 5px;
  margin-bottom: 5px;
  height: auto;
  width: 100%;
}

#colabsplugin select.list {
  width: 30%;
  margin-right: 5px;
}

#colabsplugin label {
  margin-right: 2px;
}

/* Text Color
------------------------------------------------------------------- */
#colabsplugin .blue-text {
  color: #5281a7;
}

#colabsplugin .green-text {
  color: green;
}

#colabsplugin .red-text {
  color: darkred;
}

#colabsplugin .grey-999-text {
  color: #999;
}

#colabsplugin .round-24 {
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
}

#colabsplugin .box-shadow {
  -webkit-box-shadow: #CCC 0px 0px 3px;
  -moz-box-shadow: #CCC 0px 0px 3px;
  box-shadow: #CCC 0px 0px 3px;
}

#colabsplugin .round-24, #colabsplugin .round-12, #colabsplugin .round-8, #colabsplugin .round-6, #colabsplugin .round-4, #colabsplugin .round-2, #colabsplugin .round-top-6 {
  webkit-background-clip: padding-box;
}

/* Ajax Messages
------------------------------------------------------------------- */
#colabsplugin .mobileview-ajax-results {
  position: absolute;
  right: 32px;
  height: 16px;
  text-align: right;
  padding: 5px 5px 9px 28px;
  font-size: 15px;
  top: 23px;
  color:#FFFFFF;
}
#colabsplugin #ajax-loading.mobileview-ajax-results, #colabsplugin #ajax-saving.mobileview-ajax-results {
  background: url(../images/ajax-install.gif) no-repeat center center;
  height: 19px;
  text-align: center;
  text-indent: -999999px;
  padding: 0px;
  width:220px;
}
#colabsplugin .mobileview-ajax-results#ajax-saved:before {
	content: "\e60a";
	font-family: 'mobileview-icons';
	margin-right: 5px;
  vertical-align: middle;
}

#colabsplugin .mobileview-ajax-results#ajax-fail:before {
  content: "\e609";
	font-family: 'mobileview-icons';
	margin-right: 5px;
  vertical-align: middle;
}

/* New Set
------------------------------------------------------------------- */
#colabsplugin #mobileview-set-input-area {
  border-top: 1px solid #e1e1e1;
  padding-top: 10px;
}

#colabsplugin #mobileview-set-input-area label {
  width: 30%;
  display: inline-block;
  text-align: right;
}

#colabsplugin #mobileview-set-input-area input.text {
  border: 1px solid #e1e1e1;
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));
  background: -moz-linear-gradient(top, #eee, #fff);
  width: 65%;
  margin-bottom: 10px;
}

#colabsplugin #mobileview-set-input-area input.button {
  float: right;
  margin-right: 10px;
  width: 20%;
  position: relative;
  z-index: 1;
}

#colabsplugin #mobileview-set-input-area input.button:hover {
  border: 1px solid #aaa;
  color: #5f7176;
}

/* Upload Button
------------------------------------------------------------------- */
#colabsplugin #manage-upload-area {
  float: left;
  width: 45%;
}

#colabsplugin #manage-upload-button {
  position: relative;
  width: 170px;
  cursor: hand;
  height: 35px;
  display: block;
  margin-bottom: 15px;
  text-align: center;
}

#colabsplugin #manage-upload-button a {
  text-shadow: #fff 0 1px 0;
  font-weight: bold;
  font-size: 11px;
  background: url(../images/admin-upload-button.jpg) no-repeat 0 0;
  width: 170px;
  height: 28px;
  display: block;
  padding-top: 8px;
}

#colabsplugin #manage-upload-button.hover > a {
  background-position: 0 -34px;
}

/* Information & Help
------------------------------------------------------------------- */
#colabsplugin #manage-info-area {
  width: 50%;
  float: right;
  position: relative;
  top: -38px;
}

#colabsplugin #manage-info-area p {
  font-size: 11px;
  color: #666;
  margin-right: 15px;
}

/* Manage Installed Icons + Sets
------------------------------------------------------------------- */
#colabsplugin #manage-sets #manage-icon-area h4 {
  border-top: 1px solid #e1e1e1;
  padding-top: 15px;
  width: 98%;
  margin-top: 20px;
}

#colabsplugin #manage-sets #manage-icon-area {
  position: relative;
}

#colabsplugin #manage-sets #pool-color-switch {
  width: 45%;
  display: block;
  text-align: right;
  font-size: 11px;
  position: absolute;
  top: 18px;
  right: 1.5%;
}

#colabsplugin #manage-sets #pool-color-switch a {
  color: #999;
}

#colabsplugin #manage-sets #pool-color-switch a.active {
  color: #d54e21;
}

#colabsplugin #manage-sets #manage-icon-set-area {
  background-color: #f0f6fb;
  border: 1px solid #e1e1e1;
  width: 98%;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

/* Left Menu
------------------------------------------------------------------- */
#colabsplugin #manage-sets ul#icon-set-list {
  float: left;
  padding: 0;
  margin: 2% 0 0 2%;
  width: 20%;
}

#colabsplugin #manage-sets ul#icon-set-list li {
  border-bottom: 1px solid #e1e1e1;
  margin-top: -1px;
}

#colabsplugin #manage-sets ul#icon-set-list li a {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 8px;
}

#colabsplugin #manage-sets ul#icon-set-list li.active a {
  color: #d54e21;
  position: relative;
  z-index: 2;
  margin: -2px -2px -1px -3px;
  background-color: #FFF;
  border-bottom: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

/* Set Author Area
------------------------------------------------------------------- */
#colabsplugin #manage-sets #manage-set-desc {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 15px;
  padding-bottom: 15px;
  padding-top: 5px;
  position: relative;
  text-align: left;
  width: 98.5%;
}

#colabsplugin #manage-sets #manage-set-desc h5 {
  color: #999;
  letter-spacing: -1px;
  font-size: 16px;
}

#colabsplugin #manage-sets #manage-set-desc h5 em {
  font-weight: bold;
  font-size: 19px;
  margin-right: 6px;
  color: #555;
}

#colabsplugin #manage-sets #manage-set-desc-links {
  position: absolute;
  right: 1px;
  top: 8px;
  font-size: 11px;
}

#colabsplugin #manage-sets #manage-set-desc-links a.delete-set {
  color: darkred;
}

/* Icon Styles
------------------------------------------------------------------- */
#colabsplugin #manage-icon-set-area #manage-icon-ajax {
  position: relative;
  border-left: 1px solid #e1e1e1;
  background-color: #FFF;
  text-align: center;
  margin-left: 22%;
  padding: 19px 5px 15px 15px;
  min-height: 200px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

#colabsplugin #manage-icon-set-area #manage-icon-ajax ul {
  min-height: 200px;
  height: auto !important;
  height: 200px;
}

#colabsplugin #manage-icon-set-area #manage-icon-ajax li {
  width: 87px;
  text-align: center;
  font-size: 11px;
  display: inline-block;
  color: #666;
  position: relative;
  margin: 4px;
  height: 70px;
  padding: 10px 0 0;
}

#colabsplugin #manage-icon-area.dark #manage-icon-ajax li {
  background-color: #8697ab;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 3px;
  border: 1px solid #738597;
}

#colabsplugin #manage-icon-set-area #manage-icon-ajax li img {
  margin-bottom: 2px;
  width: 32px;
  height: 32px;
  -ms-interpolation-mode: bicubic;
}

#colabsplugin #manage-icon-set-area #manage-icon-ajax li .icon-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: -1px;
}

#colabsplugin #manage-icon-area.dark #manage-icon-ajax li .icon-name {
  color: #fff;
  text-shadow: #374956 0 -1px 0;
}

#colabsplugin .icon-info .icon-size {
  color: #999;
  display: block;
  font-size: 9px;
}

#colabsplugin #manage-icon-area.dark #manage-icon-ajax li .icon-size {
  color: #adc3d5;
}

#colabsplugin .section-custom-menu-items input.text {
  width: 50%;
}


/* ===================================================================
  #STYLES
=================================================================== */

/* Classic Styles
------------------------------------------------------------------- */
#colabsplugin.classic.beta #mobileview-main-top h3 {
  background: url(../images/admin-phone-48-classic-beta.png) no-repeat left center;
}

#colabsplugin.classic.normal #mobileview-main-top h3 {
  background: url(../images/admin-phone-48-classic.png) no-repeat left center;
}

#colabsplugin.classic input.text:focus {
  background: 
  -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background: -moz-linear-gradient(top, #fff, #fff);
  border: 1px solid #6d94b1;
}

#colabsplugin.classic textarea.textarea:focus {
  background: 
  -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background: -moz-linear-gradient(top, #fff, #fff);
  border: 1px solid #6d94b1;
}

#colabsplugin.classic input#classic_webapp_notice_expiry_days {
  width: 31px;
}

/* Fresh Styles
------------------------------------------------------------------- */
#colabsplugin input.text:focus {
  background: 
  -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background: -moz-linear-gradient(top, #fff, #fff);
  border: 1px solid #aaa;
}

#colabsplugin textarea.textarea:focus {
  background: 
  -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background: -moz-linear-gradient(top, #fff, #fff);
  border: 1px solid #aaa;
}

#colabsplugin fieldset {
  border: 1px solid #e1e1e1;
  background: #f6f6f6;
}

#colabsplugin #mobileview-tabbed-area .right-area {
  border: 1px solid #dfdfdf;
}

 #colabsplugin .box-holder h3 {
  background: #eee url(../images/gray-grad.png) repeat-x left top;
  border-bottom-color: #e1e1e1;
}

#colabsplugin legend {
  color: #444;
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
}

#colabsplugin #setting-user-agents tr {
  border-bottom: 1px solid #e1e1e1;
}

#colabsplugin-form.locale-de_de #colabsplugin .menu-meta .menu-actions, #colabsplugin-form.locale-fr_fr #colabsplugin .menu-meta .menu-actions, #colabsplugin-form.locale-es_es #colabsplugin .menu-meta .menu-actions {
  margin-bottom: 5px;
}

#colabsplugin-form.locale-fr_fr #colabsplugin #manage-info-area {
  width: 45%;
}


/* ===================================================================
  #COLOR SCHEME
=================================================================== */
#colabsplugin #mobileview-tabbed-area {
  background: #353535;
  padding: 0;
  border: none;
  overflow: hidden;
  min-height: 300px;
}

/* Top Menu
------------------------------------------------------------------- */
#colabsplugin {
  margin-top: 20px
}
#colabsplugin .wrap .updated {
  background-color: #ffffe0;
  border-color: #e6db55;
  margin: 5px 0 15px;
  padding: 0 .6em;
}
#colabsplugin #mobileview-main-top h3 {
  color: #FFF;
  font-size: 19px;
  margin: 17px 0;
  padding: 3px 0;
  text-align: center;
  text-shadow: 0 1px rgba(0, 0, 0, 0.5);
  font-weight: normal;
  text-transform: uppercase;
}
#colabsplugin #mobileview-main-top img {
  vertical-align: middle;
  margin-right: 5px;
  width: 32px;
  height:32px;
}
#colabsplugin #mobileview-main-top h3 span {
  color: #FFF;
  bottom: 3px;
  position: absolute;
  right: 11px;
  font-size: 11px;
}

.mobile-view-admin-header,
.main-panel .left-area {
  -webkit-font-smoothing: antialiased;
}
#colabsplugin .mobile-view-admin-header {
  margin: 0;
  zoom: 1;
  background: #353535;
  position:relative;
}
#colabsplugin .main-panel{
  position:relative;
}
#colabsplugin .main-panel .loading-ajax {
    left: 50%;
    margin-left: 120px;
    margin-top: -9px;
    position: absolute;
    top: 50%;
}
#colabsplugin .mobile-view-admin-header:after,
#colabsplugin .mobile-view-admin-header:before {
  content: '';
  display: table;
}
#colabsplugin .mobile-view-admin-header:after {
  clear: both;
}
#colabsplugin #mobileview-main-top {
  float: left;
  width: 230px;
  position: relative;
}
#colabsplugin ul#mobileview-top-menu {
  margin: 0;
  float: left;
  -webkit-font-smoothing: antialiased;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
#colabsplugin ul#mobileview-top-menu li {
  float: left;
  margin-bottom: 0px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}
#colabsplugin ul#mobileview-top-menu li.loading-ajax {
  border-left: 0;
  border-right: 0;
}

#colabsplugin ul#mobileview-top-menu li img {
    opacity: 0.9;
}
#colabsplugin ul#mobileview-top-menu li .active img {
    opacity: 1;
}
#colabsplugin ul#mobileview-top-menu li a {
  display: block;
  padding: 20px 20px 15px;
  margin: 0;
  color: #c2c2c2;
  font-size: 11px;
  text-align:center;
  text-transform:uppercase;
  font-weight: bold;
}
#colabsplugin ul#mobileview-top-menu li span {
  display: block;
  margin-top: 5px;
}
#colabsplugin ul#mobileview-top-menu li a:hover {
  color: #fff;
}
#colabsplugin ul#mobileview-top-menu li a:hover img{
  opacity: 1;
}

#colabsplugin ul#mobileview-top-menu li a.active {
  color: #fff;
  position: relative;
  background-image: none;
}

/* Left Menu
------------------------------------------------------------------- */
#colabsplugin #mobileview-tabbed-area .left-area {
  width: 232px;
  margin: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-font-smoothing: antialiased;
}
#colabsplugin #mobileview-tabbed-area .right-area {
  margin-left: 232px;
  padding-top: 15px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#colabsplugin .left-area ul li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 0;
}
#colabsplugin .left-area ul li a {
  color: #c2c2c2;
  font-size: 14px;
  font-weight: normal;
  padding: 12px 10px;
  display: block;
  margin-top: -1px;
}

#colabsplugin .left-area ul li a.active {
  margin-left: 0;
  margin-right: 0;
}
.right-area + .clearer {
  display: none
}
.left-area a {
  z-index: 1;
  position: relative;
}
.left-area .menu-text {
  position: relative;
  z-index: 5;
  overflow: hidden;
  display: block;
}
.left-area .menu-hover {
  top: 0;
  left: 0;
  z-index: 4;
  position: absolute;
  width: 100%;
  height: 100%;
  margin-left: -100%;
  background: #292929;
}
.left-area .menu-hover,
.left-area .menu-arrow {
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -ms-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}
.left-area .menu-arrow {
  position: absolute;
  content: "";
  border: 13px solid transparent;
  border-right-color: #fff;
  right: -13px;
  top: 50%;
  z-index: 5;
  margin-top: -13px;
}
.left-area a:hover .menu-arrow,
.left-area .active .menu-arrow {
  right: -1px;
}
.left-area a:hover .menu-hover,
.left-area .active .menu-hover {
  margin-left: 0;
}
.left-area .active:before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  top: 0;
  width: 2px;
  z-index: 9;
}
.left-area .icon-menu {
  display: none;
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  position: relative;
  z-index: 6;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.left-area .active .icon-menu {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

/* Main Panel
------------------------------------------------------------------- */
#colabsplugin fieldset {
  padding-top: 50px;
  position: relative;
  background: #FAFAFA;
}
#colabsplugin legend {
  position: absolute;
  left: 0;
  right: -1px;
  top: 0;
  z-index: 10;
  /*border-right: 1px solid #D2D2D2;*/
  border-bottom: 1px solid #ddd;
  margin: 0;
  width: 100%;
  text-transform:uppercase;
  font-size: 13px;
  padding: 9px 10px;
  font-weight: bold;
  font-family: Arial;
  font-style:normal;
  background: none repeat scroll 0 0 rgba(153, 153, 153, 0.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#colabsplugin .spacer {
  height: 10px;
}

/* Tooltip
------------------------------------------------------------------- */
#colabsplugin-form #mobileview-tooltip {
  border-color: #333;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
#colabsplugin-form #mobileview-tooltip:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: -17px;
  left: 2px;
  border: 8px solid transparent;
  border-top-color: #333;
  border-left-color: #333;
}


/* ===================================================================
  #BUTTONS COMPONENTS
=================================================================== */
#colabsplugin-submit input,
#colabsplugin #colabsplugin-submit-reset input {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-decoration: none;
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  *margin-left: .3em;
}

.btn:active,
#colabsplugin-submit input:active,
#colabsplugin #colabsplugin-submit-reset input:active {
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);  
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
#colabsplugin #colabsplugin-submit-reset input{
  background-position: center;  
}

/* Yellow Button
---------------- */
.mobileview-skin-uploader {
	margin-bottom: 20px;
	padding: 10px;
}
#colabsplugin .mobileview-skin-uploader h4{
  font-style:normal;
}
#mobileview-main-top a {
	color: #FFF;
  position: relative;
  top: 9px;
  font-family: "bebas_neueregular",sans-serif;
  font-size: 28px;
}

#colabsplugin-trademark img {
  margin-left: 10px;
  vertical-align: middle;
  width: 170px;
}

.mobileview-button-wrap .submit {
  margin: 0;
}

/* Save and Reset Buttons
------------------------------------------------------------------- */
.mobileview-button-wrap > p {
	position: fixed;
	top: 200px;
	right: 0;
	z-index: 10;
}
#colabsplugin-submit-reset {
	margin-top: 45px;
}
.mobileview-button-wrap .submit .button {
	padding: 5px 10px;
	margin: 0;
	line-height: 1;
}
.submit .icon{
	vertical-align: middle;
}

.submit .button-text {
	margin-left: 5px;
	display: none;
}
.mobileview-button-wrap .submit:hover .button-text {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}


/* #Twitter Stream
==============================================================================*/
.mobileview_twitter_stream {
  color: #666;
  line-height: 22px;
  margin-bottom: 15px;
  margin-top: 10px;
  margin-left:0;
}
.mobileview_twitter_stream .stream-label {
  float: left;
  font-weight: bold;
  margin-right: 10px;
  text-transform: uppercase;
}
.mobileview_twitter_stream .icon{
	font-size: 20px;
  margin-right: 5px;
  vertical-align: middle;
	color: #33BCEF;
}
.mobileview_twitter_stream a {
  text-decoration: none;
}
.mobileview_twitter_stream ul {
  margin: 0 0 0 170px !important;
}
.mobileview_twitter_stream li {
  display: none;
  overflow: hidden;
  width: 100%;
  position: relative;
}
.mobileview_twitter_stream li:first-child {
  display: block
}
.mobileview_twitter_stream a.time{
  font-size:8px;
  color:#bbb;
  font-style:italic;
  float: left;
  width: 20%;
}
.mobileview_twitter_stream .content {
  float: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

#TB_ajaxContent .mobileview-login-form p input {
  background: none repeat scroll 0 0 #FBFBFB;
  border: 1px solid #E5E5E5;
  box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;
  -webkit-box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2);
  color: #555555;
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
  margin-right: 6px;
  margin-top: 2px;
  outline: medium none;
  padding: 3px;
  width: 100%;
}

#TB_ajaxContent .mobileview-login-form label {
  color: #384659;
  font-weight: bold;
}

#TB_ajaxContent .mobileview-login-form a:link {
  color: #21759B;
}
#TB_ajaxContent .mobileview-login-form a.mobileview-login{
  color: #FFF;
}
#TB_ajaxContent .mobileview-update-confirm a.update-theme{
  margin-right: 5px;
}
#TB_ajaxContent .mobileview-update-confirm .updater-loader > img {
  display: block;
  margin: 10px auto 0;
}

#TB_ajaxContent .mobileview-update-confirm .updater-loader {
  margin-top: 90px;
  text-align: center;
}

#TB_ajaxContent .mobileview-update-confirm .updater-success {
  color: #468847;
  font-weight: normal;
  margin-top: 115px;
  text-align: center;
}
#TB_ajaxContent .mobileview-update-confirm .updater-error {
  color: #B94A48;
  margin-top: 115px;
  text-align: center;
}
#TB_ajaxContent .mobileview-login-form .alert-account {
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
  padding: 8px 35px 8px 14px;
  color: #B94A48;
}
#TB_ajaxContent .mobileview-update-confirm .alert-success {
	background-color: #FCF8E3;
	border: 1px solid #FBEED5;
	padding: 8px 35px 8px 14px;
	color: #C09853;
} 
#colabsplugin a.wp-color-result{
  margin-bottom: 0px;
  position: relative;
  top: 5px;
}
.mobileview-theme-right-wrap .update-available {
	background-color: #FCF8E3;
	border: 1px solid #FBEED5;
	padding: 8px 35px 8px 14px;
	color: #C09853;
	margin-bottom: 15px;
}
.mobileview_twitter_stream.updated {
  padding-top: 7px;
}

#colabsplugin-submit input:hover, #colabsplugin #colabsplugin-submit-reset input:hover {
	background-position: 10px center;
	height: auto;
	padding: 5px 10px 5px 30px;
	text-indent: 0;
	width: auto;
}

.mobileview-section .option-container {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #E1E1E1;
    margin: 0;
    padding: 50px 10px 10px;
    position: relative;
}
.mobileview-setting.type-copytext {
    overflow: hidden;
}
.mobileview-section.section-installed-themes .option-container{
		padding-top: 10px;
}
/* ===================================================================
  #TABLET
=================================================================== */
@media (max-width: 979px) and (min-width: 783px) {
	#colabsplugin #mobileview-tabbed-area .right-area {
		margin-left: 0;
	}
	#colabsplugin #mobileview-tabbed-area .left-area {
		width: 100%;
		overflow: hidden;
		float: none;
	}
	.left-area .menu-arrow {
		display: none;
	}
	#colabsplugin .left-area ul li {
		float: left;
		position: relative;
		overflow: hidden;
		border-right: 1px solid rgba(0,0,0,.2);
	}
}


/* ===================================================================
  #MOBILE PHONE
=================================================================== */
.dropdown-mobile {
	display: none;
}
@media (max-width: 782px) {
	#colabsplugin #mobileview-tabbed-area .left-area{
		width: 100%;
	}
	#colabsplugin #mobileview-main-top {
	  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	  width: 100%;
	}
	#colabsplugin ul#mobileview-top-menu li span {
	  display: none;
	}
	#colabsplugin #mobileview-tabbed-area .right-area {
		margin-left: 0;
		padding: 10px;
	}
	#colabsplugin #mobileview-tabbed-area .left-area {
		position: absolute;
		z-index: 100;
		overflow: hidden;
		display: none;
	}
	#colabsplugin ul#mobileview-top-menu li a {
		padding: 15px 15px 12px;
	}

	.left-area .menu-arrow {
		display: none;
	}
	
	.dropdown-mobile {
		float: left;
		display: block;
		padding: 14px;
	}
	.dropdown-mobile div {
		width: 100%;
		height: 3px;
		background: #fff
	}
	.dropdown-mobile div + div {
		margin-top: 5px;
	}
	
	.dropdown-mobile,
	#mobileview-top-menu,
	#mobileview-top-menu li {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	.dropdown-mobile {
		width: 20%
	}
	#mobileview-top-menu {
		width: 80%
	}
	#mobileview-top-menu li {
		width: 25%
	}

	/* Form Component
	----------------------------------------------------------------- */
	#colabsplugin input.text,
	#colabsplugin select.list,
	#colabsplugin textarea {
		width: 100%;
		margin: 0 0 5px;
		font-size: 13px;
	}
	#colabsplugin label {
		display: inline;
		font-size: 12px;
	}

	/* Type Upload 
	----------------------------------------------------------------- */
	#colabsplugin .type-upload input.text {
		padding-right: 75px;
	}
	#colabsplugin .type-upload .upload_button {
		position: absolute;
		top: 2px;
		right: 2px;
	}
	#colabsplugin-form .mobileview-setting {
		margin-bottom: 10px;
	}

	/* Type Checkbox
	----------------------------------------------------------------- */
	#colabsplugin .type-checkbox:after,
	#colabsplugin .type-checkbox:before {
		content: '';
		display: table;
	}
	#colabsplugin .type-checkbox:after {
		clear: both;
	}
	#colabsplugin .type-checkbox {
		zoom: 1;
	}
	#colabsplugin .type-checkbox input {
		float: left;
	}
	#colabsplugin .type-checkbox label {
		overflow: hidden;
		display: block;
		margin-top: 4px;
	}
	
	/* Type Color
	----------------------------------------------------------------- */
	#colabsplugin .type-colorpicker .wp-picker-container {
		display: block;
		margin-bottom: 10px;
	}
	
	/* Skin Browser
	----------------------------------------------------------------- */
	#colabsplugin .mobileview-theme-left-wrap {
		float: none;
		margin-right: 0
	}
	.mobileview-skin-uploader,
	#colabsplugin .theme-wrap {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box
	}
	.mobileview-theme-left-wrap img {
		width: 100%;
		margin-bottom: 20px;
	}
	.mobileview-skin-uploader .button.button-primary {
    margin-top: 20px;
    width: 100%;
	}
	#colabsplugin-form a.mobileview-tooltip, #colabsplugin-form a.mobileview-tooltip-left{
		display: none;
	}
	#mobileview-top-menu .icon {
    font-size: 20px;
	}
	#colabsplugin #mobileview-main-top h3{
		margin: 8px 0;
	}
	#colabsplugin #mobileview-main-top h3 span{
		right: 29px;
		bottom: 7px;
	}
		
	/* Save and Reset Button
	----------------------------------------------------------------- */
	.mobileview-button-wrap {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 6px;
		background: #eee;
		z-index: 1000;
		border-top: 1px solid #ccc;
	}
	.mobileview-button-wrap .submit {
		padding: 0;
		background: none;
		border: 0;
		position: static;
		float: left;
		width: 50%;
		margin: 0;
		-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
						box-sizing: border-box;
	}
	.mobileview-button-wrap .submit .button {
		height: 40px;
		width: 100%;
	}
	.submit .button-text {
		display: inline-block;
	}
	#colabsplugin-submit-reset {
		margin-top: 0;
	}
	#colabsplugin-submit {
		padding-right: 3px;
	}
	#colabsplugin-submit-reset {
		padding-left: 3px;
	}
	#colabsplugin-submit.submit {
			margin-bottom: 0px;
	}
	#colabsplugin-form #saving-ajax {
		position: absolute;
		top: -30px;
		left: 0;
		right: 0;
		text-align: center;
		background: #eee;
		margin: 0;
		padding: 3px 0 5px;
		border-top: 1px solid #ccc;
	}
	#colabsplugin ul#mobileview-top-menu li.active-menu {
    border-right: medium none;
	}
}

/* ===================================================================
  #Custom Fonts
=================================================================== */
@font-face {
	font-family: 'mobileview-icons';
	src:url('../fonts/mobileview-icons.eot');
	src:url('../fonts/mobileview-icons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/mobileview-icons.woff') format('woff'),
		url('../fonts/mobileview-icons.ttf') format('truetype'),
		url('../fonts/mobileview-icons.svg#mobileview-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'mobileview-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cogs:before {
	content: "\e600";
}
.icon-settings:before {
	content: "\e601";
}
.icon-book:before {
	content: "\e602";
}
.icon-cabinet:before {
	content: "\e603";
}
.icon-spinner:before {
	content: "\e604";
}
.icon-twitter:before {
	content: "\e605";
}
.icon-flag:before {
	content: "\e606";
}
.icon-download-alt:before {
	content: "\e608";
}
.icon-remove-sign:before {
	content: "\e607";
}
.icon-warning-sign:before {
	content: "\e609";
}
.icon-check:before {
	content: "\e60a";
}
.icon-info:before {
	content: "\e60b";
}
#mobileview-top-menu .icon {
    font-size: 16px;
}
.mobileview-setting select{
	width: 100%;
}


/* ===================================================================
  FIXED HEADER
=================================================================== */
.header-save-button {
  float: right;
  display: none;
  margin: 25px 20px 0 0;
}
.header-save-button .button {
  font-weight: bold;
}

@media (min-width: 1200px) {
  .header-save-button {
    display: block;
  }
  .mobileview-button-wrap {
    display: none;
  }
  .header-fixed .left-area {
    position: relative;
  }
  .header-fixed #mobileview-admin-form {
    margin-top: 94px;
  }

  .header-fixed #colabsplugin .mobile-view-admin-header {
    position: fixed;
    top: 32px;
    right: 20px;
    left: 182px;
    z-index: 100;
  }
  .header-fixed.folded #colabsplugin .mobile-view-admin-header {
    left: 58px;
  }
}